In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
train_df = train_df.dropna()
train_df

,Id,Target,N1,N2,N3,N4,N5,N6,C1,C2,C3,C4,C5,C6,C7,C8,C9
0,10000,1500000,2056164.384,11,1.8,0.0,9.0,6.0,1,M,F,V,B,S,J,T,D
1,10001,2993000,3572619.048,8,2.5,8.0,6.0,9.0,2,A,F,V,B,S,J,N,1
2,10002,9500000,9813953.488,6,3.5,2.0,9.0,0.0,1,A,B,K,B,S,W,D,D
3,10003,4056000,4529545.455,5,2.5,4.0,6.0,4.0,1,A,F,K,BG,S,4,T,1
4,10004,3543000,3823255.814,10,3.5,1.0,5.0,4.0,1,A,F,K,BG,S,4,T,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,14995,2023000,2200000.000,14,2.2,5.0,5.0,5.0,1,M,F,V,D,M,W,D,F
4996,14996,2000000,2265060.241,14,3.0,8.0,2.0,7.0,1,A,F,K,B,S,4,T,1
4997,14997,4040000,4691666.667,11,3.3,3.0,2.0,5.0,2,A,F,K,B,C,J,T,E
4998,14998,1400000,1519047.619,9,1.6,2.0,0.0,7.0,2,M,F,V,BG,S,K,L,1
4999,14999,3734000,4419753.086,10,3.5,3.0,3.0,1.0,1,A,A,K,B,C,J,N,8

In [3]:
ids = test_df["Id"]
test_df = test_df.drop(columns = ["Id"])
train_df = train_df.drop(columns = ["Id"])
ids

0      20000
1      20001
2      20002
3      20003
4      20004
       ...
995    20995
996    20996
997    20997
998    20998
999    20999
Name: Id, Length: 1000, dtype: int64

In [4]:
test_df

              N1  N2   N3   N4   N5   N6  C1 C2 C3 C4  C5 C6 C7 C8 C9
0    2828048.780   8  1.8  6.0  1.0  9.0   1  A  F  V   B  S  W  V  W
1    2866279.070   3  1.6  1.0  2.0  7.0   2  A  F  V   B  L  Z  9  4
2    4620238.095   4  2.0  6.0  6.0  2.0   2  A  A  K   B  C  J  M  B
3    3400000.000   9  2.5  9.0  1.0  9.0   1  A  A  V   B  U  J  F  1
4    3751851.852   9  3.5  8.0  3.0  7.0   1  A  F  K   B  S  J  T  N
..           ...  ..  ...  ...  ...  ...  .. .. .. ..  .. .. .. .. ..
995  3586746.988  10  2.4  0.0  2.0  8.0   1  A  F  V   B  C  J  H  L
996  1187209.302  19  1.6  1.0  2.0  4.0   1  A  F  V   B  S  W  V  W
997  3211111.111   9  2.4  2.0  6.0  2.0   3  A  F  V  BG  S  6  T  1
998  3504878.049  10  2.5  5.0  1.0  5.0   1  A  B  V   B  S  X  4  X
999  2577906.977  14  3.0  9.0  9.0  8.0   1  A  F  K  BG  S  J  T  D

[1000 rows x 15 columns]

In [5]:
train_df.groupby("C1").count()

,Target,N1,N2,N3,N4,N5,N6,C2,C3,C4,C5,C6,C7,C8,C9
C1,,,,,,,,,,,,,,,
1,2537,2537,2537,2537,2537,2537,2537,2537,2537,2537,2537,2537,2537,2537,2537
2,1701,1701,1701,1701,1701,1701,1701,1701,1701,1701,1701,1701,1701,1701,1701
3,756,756,756,756,756,756,756,756,756,756,756,756,756,756,756

In [6]:
def change(df, column_name):
    values = df.groupby(column_name).count().index
    for x in range(len(values)):
        df[column_name] = df[column_name].replace(values[x], x)
    return df[column_name]
for x in train_df.dtypes.index:
    if train_df.dtypes[x] == "object":
        train_df[x] = change(train_df, x)
for x in test_df.dtypes.index:
    if test_df.dtypes[x] == "object":
        test_df[x] = change(test_df, x)
train_df

,Target,N1,N2,N3,N4,N5,N6,C1,C2,C3,C4,C5,C6,C7,C8,C9
0,1500000,2056164.384,11,1.8,0.0,9.0,6.0,1,1,2,2,0,4,8,22,11
1,2993000,3572619.048,8,2.5,8.0,6.0,9.0,2,0,2,2,0,4,8,17,1
2,9500000,9813953.488,6,3.5,2.0,9.0,0.0,1,0,1,1,0,4,18,9,11
3,4056000,4529545.455,5,2.5,4.0,6.0,4.0,1,0,2,1,1,4,3,22,1
4,3543000,3823255.814,10,3.5,1.0,5.0,4.0,1,0,2,1,1,4,3,22,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,2023000,2200000.000,14,2.2,5.0,5.0,5.0,1,1,2,2,2,2,18,9,13
4996,2000000,2265060.241,14,3.0,8.0,2.0,7.0,1,0,2,1,0,4,3,22,1
4997,4040000,4691666.667,11,3.3,3.0,2.0,5.0,2,0,2,1,0,0,8,22,12
4998,1400000,1519047.619,9,1.6,2.0,0.0,7.0,2,1,2,2,1,4,9,15,1
4999,3734000,4419753.086,10,3.5,3.0,3.0,1.0,1,0,0,1,0,0,8,17,7

In [7]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
columns1 = train_df.drop('Target', axis = 1).columns
columns2 = test_df.columns
scaler = StandardScaler()
scaler.fit(train_df.drop('Target', axis = 1))
ndf = pd.DataFrame(scaler.transform(train_df.drop('Target', axis = 1)))
test_df = pd.DataFrame(scaler.transform(test_df))
scaler = MinMaxScaler()
scaler.fit(ndf)
ndf = pd.DataFrame(scaler.transform(ndf))
test_df = pd.DataFrame(scaler.transform(test_df))
for x in range(10):
    ndf = ndf.rename(columns = {x : columns1[x]})
    test_df = test_df.rename(columns = {x : columns2[x]})
ndf

,N1,N2,N3,N4,N5,N6,C1,C2,C3,C4,10,11,12,13,14
0,0.062290,0.578947,0.170213,0.000000,1.000000,0.666667,0.0,1.0,1.0,1.0,0.00,0.666667,0.40,0.814815,0.354839
1,0.131290,0.421053,0.319149,0.888889,0.666667,1.000000,0.5,0.0,1.0,1.0,0.00,0.666667,0.40,0.629630,0.032258
2,0.415275,0.315789,0.531915,0.222222,1.000000,0.000000,0.0,0.0,0.5,0.5,0.00,0.666667,0.90,0.333333,0.354839
3,0.174831,0.263158,0.319149,0.444444,0.666667,0.444444,0.0,0.0,1.0,0.5,0.25,0.666667,0.15,0.814815,0.032258
4,0.142694,0.526316,0.531915,0.111111,0.555556,0.444444,0.0,0.0,1.0,0.5,0.25,0.666667,0.15,0.814815,0.032258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4989,0.068834,0.736842,0.255319,0.555556,0.555556,0.555556,0.0,1.0,1.0,1.0,0.50,0.333333,0.90,0.333333,0.419355
4990,0.071795,0.736842,0.425532,0.888889,0.222222,0.777778,0.0,0.0,1.0,0.5,0.00,0.666667,0.15,0.814815,0.032258
4991,0.182207,0.578947,0.489362,0.333333,0.222222,0.555556,0.5,0.0,1.0,0.5,0.00,0.000000,0.40,0.814815,0.387097
4992,0.037851,0.473684,0.127660,0.222222,0.000000,0.777778,0.5,1.0,1.0,1.0,0.25,0.666667,0.45,0.555556,0.032258
4993,0.169835,0.526316,0.531915,0.333333,0.333333,0.111111,0.0,0.0,0.0,0.5,0.00,0.000000,0.40,0.629630,0.225806

In [8]:
(train_df.groupby(["C1", "C2", "C3", "C4", "C5", "C6", "C7", "C8", "C9"]).count() > 1)

                            Target     N1     N2     N3     N4     N5     N6
C1 C2 C3 C4 C5 C6 C7 C8 C9
1  0  0  0  0  0  8  10 1     True   True   True   True   True   True   True
                     17 7    False  False  False  False  False  False  False
                  9  16 15    True   True   True   True   True   True   True
                  14 12 24   False  False  False  False  False  False  False
               4  18 7  26   False  False  False  False  False  False  False
...                            ...    ...    ...    ...    ...    ...    ...
3  1  2  2  1  2  9  15 1    False  False  False  False  False  False  False
               4  8  16 9     True   True   True   True   True   True   True
                  9  16 15   False  False  False  False  False  False  False
               5  9  15 1    False  False  False  False  False  False  False
                  14 8  1    False  False  False  False  False  False  False

[1426 rows x 7 columns]

In [14]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import numpy as np
clf = RandomForestRegressor()
clf.fit(ndf, train_df['Target'])
pred = np.round(clf.predict(test_df), -2)

In [15]:
pred

array([ 2476500.,  2530100.,  4068500.,  2912500.,  3274700.,  3995200.,
        2841500.,  1619100.,  1354200.,  2106700.,  5502500.,  4708200.,
        1557800.,  1150000.,  7090200.,   900800.,  1224800.,  1192900.,
        5198400.,  2763400.,  2800000.,  2233100.,  2238300.,  2183000.,
        2211500.,  2207200.,  1199700.,  3270200.,  3952000.,  1485300.,
        1728600.,  4931000.,  2071000.,  2308900.,  2456100.,  3133200.,
        4107300.,  3962700.,  3185600.,  2983000.,  1579500.,  3398900.,
        1765300.,  2948200.,  8989200.,  1528100.,  2807900.,  2752700.,
        1319100.,  2259500.,  2346400.,  2631000.,  2038100.,  2487000.,
        2625100.,  5377000.,  2175900.,  2359000.,  2530000.,  4654800.,
        6323700.,  2567100.,  1312300.,  2755800.,  3898400.,  3474500.,
        2228800.,  3112800.,  3746400.,  4622000.,  2240600.,  4723100.,
        5555500.,  2944700.,  3572600.,  4871900.,  1611900.,  2529500.,
        2796300.,  2396600.,  3601600.,  2226000.,  1541500.,  1043800.,
        8032300.,  2060500.,  2626500.,  2957200.,  2996500.,  2776700.,
        2980800.,  4442100.,  2464100.,  2258300.,  2376900.,  1628200.,
        6486200.,  3105700.,  1541200.,  2435000.,  1338100.,  2108800.,
        2086000., 17580800.,  2902200.,  3401600.,  2408000.,  1950600.,
        3127200.,  2870000.,  2237300.,  2163800.,  2880200.,  2387700.,
        8210900.,  3142700.,  5502600.,  4767200.,  7490900.,  6187300.,
        3616500.,  2945000.,  3802400.,  2443000.,  2326800.,  3600900.,
        1358100.,  3740100.,  1621300.,  2690000.,  3016500.,  3722400.,
        6746400.,  2111100.,  3216900.,  2688900.,  8222800.,  2186900.,
        4355400.,  1814500.,  2777800.,  2823300.,  2165900.,  1803100.,
        2022500.,  1601800.,  5186100.,  1737600.,  6189900.,  2214100.,
        3416600.,  2245000.,  2541900.,  1719900.,  5297500.,  2438500.,
        1811200.,  1896300.,  1332000.,  2581200.,  7432200.,  2389600.,
        2271400.,  2091800.,  1443600.,  2773700.,  1858800.,  2421300.,
        2311700.,  2389800.,  2741100.,  6378100.,  2726700.,  5304100.,
        4630800.,  2704000.,  2145900.,  2908100.,  1469300.,  4523300.,
        2387900.,  5308700.,  1621300.,  2735000.,  5620000.,  3383500.,
        2573300.,  3106600.,  3005200.,  4324800.,  1504800.,   870600.,
        3052700.,  2243500.,  2675300.,  2333300.,  5126000.,  2498100.,
        2496100.,  5823600.,  2437400.,  2102000.,  3228700.,  4649200.,
        3014400.,  2363500.,  3041100.,  1890500.,  2597700.,  3687700.,
        3385600.,  2853400.,  3468700.,  4963900.,  3942800.,  7911100.,
        2563400.,  4068500.,  1300100.,  3157900.,  3547600.,  1544200.,
        4219700.,  2587100.,  2909500.,  2619900.,  2032800.,  2942700.,
        1952800.,  3526200.,  2858100.,  2735400.,  2427400.,  1693900.,
        4684500.,  2856400.,  4378600.,  2909200.,  3028500.,  2676000.,
        1784100.,  3304900.,  2041200.,  2178200.,  1201400.,  5865900.,
        9250800.,  1963000.,  1393000.,  4241200.,  2596800.,  1937100.,
        1919900.,  2370500.,  4388400.,  2866200.,  6774800.,  2194100.,
        2732100.,  3173000.,  2334800.,  9415000.,  2867700.,  3406100.,
        2951400.,  3977900.,  3428300.,  4883000.,  2449200.,  2417800.,
        2180900.,  2749800.,  2273700.,  3418700.,  3046200.,  9276100.,
        2522400.,  3252800.,  3869500.,  2259000.,  2243000.,  7126300.,
        2667800.,  3823400.,  2132700.,  2708000.,  2123000.,  1837300.,
        2786200.,  2397900.,  3080000., 14306400.,  2990800.,  1045200.,
        1900000.,  4950000.,  3092000.,  2575800.,  4499400.,  4283200.,
        5274000.,  2735900.,  2270600.,  3274700.,  5978100.,  2656200.,
        2670400.,  2638400.,  1929500.,  4904300.,  1035000.,  3319600.,
        2378300.,  5167500.,  2595200.,  2942100.,  9184900.,  2810400.,
        2706700.,  2332200.,  6464400.,  1859800.,  1161500.,  3197400.,
        5236400.,  2183000.,  4206500.,  3551600.,  1857200.,  1566400.,
        1548700.,  5253900.,  7608800.,  6034400.,  5596100.,  2319700.,
        2634500.,  2113600.,  2090600.,   760900.,  2772100.,  3081600.,
        3521000.,  2347900.,  3153300.,  1224400.,  4252800.,  2924200.,
        1697200.,  2599400.,  2223700.,  2325600.,  1969300.,  2216300.,
        3107500., 11113500.,  2382200.,  3038300.,  5882400.,  2240800.,
        4493000.,  6381100.,  2413900.,  1338000.,  1084400.,  3119800.,
        4062500.,  3091900.,  3256500.,  1171100.,  2946600.,  2508800.,
        3305100.,  2700900.,  5643200.,  2397400.,  3971800.,  2397700.,
        4489700.,  7428400.,  2570500.,  3693000.,  2885000.,  1286500.,
        4683600.,  2894800.,  2563400.,  3058300.,  2238100.,  4409800.,
        1455000.,  4215900.,  1574200.,  4669600.,  2412400.,  6419700.,
        5439900.,  4489500.,  4549200.,  3143200.,  5755500.,  2769300.,
        2412500.,  2506000.,  3608000.,  1272700.,  1935100.,  2907800.,
        2199400.,  2594900.,  2198400.,  4118400.,   870200.,  3664700.,
        3072800.,  2933300.,  3569600.,  2097200.,  1189100.,  3042000.,
        2595400.,  2350800.,  3893300.,  2426100.,  2224000.,  6486300.,
        3502700.,  4943800.,  2129400.,  2431000.,  2132200.,  3034800.,
        1129900.,  2296200.,  2864200.,  2216200.,  7576700.,  4087600.,
        1742100.,  1531200.,  3094600.,  1344800.,  3561700.,  2328400.,
        2116700.,  1504000.,  4825400.,  1532400.,  9033400.,  4048200.,
        1389500.,  3076600.,  1712000.,  3350000.,  2969200.,  3530800.,
        3722800.,  1794600.,  1205700.,  2961500.,  1017200.,  2530600.,
        2772000.,  2196200.,  2573600.,  2637600.,  2111200.,  4160800.,
        3545600.,  2722900.,  4549000.,  5208300.,  3710000.,  2094200.,
        2312100.,  2917000.,  4235300.,  5475000., 17218800.,  2643800.,
        1604100.,  2473000.,  1694100.,  3193100.,  2220200.,  1379800.,
       17670100.,  3732100.,  6708300.,  2962400.,  1749400.,  4186200.,
        2691300.,  4223300.,  4185400.,  6495500.,  1515800.,  2883400.,
        2183000.,  1724600., 14242500.,  1581300.,  6285400.,  2885800.,
        5236200.,  2999700.,  2094600.,  4849800.,  3174900.,  3235800.,
        2257400.,  2344200.,  2203300.,  1605100.,  1879500.,  3175700.,
        3326700.,  3420400.,  2739600.,  2757700.,  3015100.,  2923700.,
        2443000.,  2753200.,  2190000.,  4754500.,  2387000.,  2056300.,
        2567800.,  3014400.,  1621400.,  1740700.,  2278600.,  2852200.,
        8376500.,  1229600.,  2832900.,  2426400.,  7892500.,  4585000.,
        1504300.,  1857400.,  2672000.,  1715200.,  4122500.,  2572000.,
        1168000.,  3651500.,  3814400.,  1670900.,  2340600.,  2270600.,
        4024100.,  4079300.,  2566700.,  2885000.,  1254400.,  2244500.,
        1913600.,  2114100.,  3366200.,   942500.,  2592500.,  4333600.,
        1935800.,  2399500.,  3564200.,  6043600.,  2038500.,  4545400.,
        3232400.,  1293400.,  3537400.,  2924400.,  1905400.,  4053700.,
        6630400.,  2882900.,  6262700.,  5288000.,  2566700.,  5539000.,
        7277900.,  2714200.,  4778700.,  5350300.,  6773000.,  2131800.,
        1913700.,  1408100.,  4693300.,  2665600.,  7348900.,  1075900.,
        1274900.,  2313600.,  2902000.,  4865000.,  2294400.,  5475400.,
        5042500.,  2968300.,  1557800.,  2862800.,  2094700., 10472800.,
        2864600.,  3128900.,  3861500.,   896900.,  2448000.,  2120900.,
        3904200.,  4881700.,  2026200.,  4881300.,  3837300.,  2066400.,
        2901400.,  4443500.,  2573100.,  4080100.,  3448000.,  1982300.,
        3457900.,  1671100.,  2660400.,  5566200.,  2152000.,  3160200.,
        6661600.,  1662300.,  3038700.,  4549900.,  2843500.,   885700.,
        1284700.,  7721100.,  2275700.,  4463000.,  2553700.,  1966300.,
        1952600.,  3966300.,  2376500.,  1705600.,  4012800.,  2343900.,
        1947300.,  1861600.,  1788500.,  6531000.,  3093700.,  9449200.,
        1616300.,  5560700.,  1054500., 12303300.,  1393900.,  3047800.,
        4062700.,  3067600.,  5247000.,  2954200.,  3097300.,  3513200.,
        3171200.,  3082600.,  5571800.,  2562100.,  3731400.,  1154000.,
        2837400.,  2210500.,  2452600.,  2397900.,  6447600.,  5134700.,
        6065200.,  3205000.,  2261800.,  2356600.,  2230900.,  2496400.,
        1799900.,  1308100.,  2533300.,  1260400.,  1705400.,  1589900.,
        2773400.,  2112000.,  6026900.,  2819600.,  2792700.,  3396900.,
        2705400.,  2000900.,  3553200.,  2754800.,  1676200.,  3855400.,
       12542200.,  1757300., 12234000.,  1293700.,  2228500.,  2157300.,
        2651300.,  8120100.,  2416900.,  2590700.,  2533300.,  3540000.,
        3252400.,  3639900.,  2343000.,  3564700.,  2548400.,  2534700.,
        3106700.,  3201400.,  1352700.,  2746500.,  5223200.,  3730900.,
        3221700.,  1754600.,  2198200.,  2341600.,  1055200.,  2919100.,
        3841600.,  3153300.,  2200200.,  2496600.,  2979500.,  5778500.,
        5564200.,  2561000.,  3687100., 13755900.,  2652500.,  5000200.,
        3234400.,  2715800.,  2799000.,  1451900.,  2701300.,  3220700.,
        1411300.,  7233000.,  3046800.,  3498800.,  5761200., 10831600.,
        2165400.,  2226800.,  2149800.,  1341600.,  3988300.,  2064200.,
        3266300.,  4252800.,  1888700.,  3569200.,  2109100.,  1821600.,
        3100100.,  1835800.,  2608800.,  1136900.,  1766400.,  2227800.,
        3255400.,  1003700.,  2720700.,  3971100.,  2328200.,  1924500.,
        3062500.,  2668500.,  2418400.,  3713800.,  3105800.,  2482000.,
        2375400.,  2308900.,  1394500.,  2936200.,  8657200.,  3457400.,
        2652700.,  5764100.,  2364400.,  2506500.,  8048100.,  2698100.,
        2541600.,  2886000.,  2224500.,  1430000.,  1787200.,  2464600.,
        7586800.,  2474900.,  2422800.,  1388500.,  2191700.,  2565500.,
        2945300.,  4095300.,  4539500.,  2833700.,  1686300.,  1571900.,
        5778000.,  3102600.,  1855100.,  5851000.,  2322100.,  6517200.,
        4811600.,  4529100.,  2776100.,  2530600.,  2202000.,  3206700.,
        4466400.,  5196800.,  8203700.,  3300100.,  2834500.,  2213700.,
        2018400.,  2841000.,  3275600.,  2733200.,  2208700.,  2064600.,
        2386500.,  7155800.,  3389300.,  4151700.,  2587300.,  2823300.,
        2490600.,  2353000.,  2693700.,  2268900.,  2617300.,  6948400.,
        2379300.,  2801100.,  2581000.,  2731800.,  2072400.,  1421900.,
        2435600.,  3965100.,  3613500.,  3126800.,  2886000.,  2172000.,
        4650400., 10756400.,  1304200.,  2784300.,  3630300.,  4090600.,
        9243600.,  4327400.,  9505000.,  2447300.,  5970500.,  2819000.,
        4233500.,  4109100.,  2472900.,  2678100.,  2119100.,  6990700.,
        2645700.,  1838700.,  2393200.,  4184400.,  3375400.,  7402200.,
        2231800.,  3803600.,  2760100.,  4908300.,  5018900.,  2087000.,
        1192200.,  2486600.,  3533200.,  4046700.,  2056600.,  2499600.,
        2119200.,  2327900.,  1288700.,  2612300., 10061900.,  2361400.,
        3109800.,  3110700.,  2331400.,  2058900.,  3515100.,  3477100.,
        2300400.,  2540200.,  1664400.,  6845400.,  2218500.,  4625600.,
        3824600.,  1662000.,  4480100.,  2845000.,  2592500.,  5426600.,
        4057600.,  2120000.,  2565500.,  9437900.,  1726900.,  3180700.,
        2241900.,  1066300.,  4565000.,  1317200.,  2088100.,  1747600.,
        2433400.,  6297500.,  4028900.,  2366500.,  2637200.,  1512400.,
        3149800.,  1378700.,  5905700.,  5854200.,  2081700.,  2625100.,
        2330100.,  2918200.,  2944700.,  4225900.,  1265400.,  1743300.,
        2432900.,  4188000.,  1410800.,  2347000.,  2747600.,  3363500.,
        2057200.,  3773600.,  2130600.,  2416600.,  1949700.,  1794400.,
        2040600., 12376000.,  4563200.,  1545700.,  3613500.,  1404000.,
        2381200.,  6302100.,  4361200.,  2741400.,  6153600.,  3168500.,
        1466200.,  3196000.,  2299200.,  2297700.,  2455200.,  2116900.,
        3544600.,  1246500.,  1871100.,  3235800.,  3913200.,  3063600.,
        2913600.,  7312600.,  1872600.,  4069300.,  2095800.,  3132900.,
        1024500.,  2954500.,  3100600.,  2129300.])

In [16]:
newdf = pd.DataFrame()
newdf["Id"] = ids
newdf["Target"] = pred
newdf

        Id     Target
0    20000  2476500.0
1    20001  2530100.0
2    20002  4068500.0
3    20003  2912500.0
4    20004  3274700.0
..     ...        ...
995  20995  3132900.0
996  20996  1024500.0
997  20997  2954500.0
998  20998  3100600.0
999  20999  2129300.0

[1000 rows x 2 columns]

In [17]:
newdf.to_csv("sampleSubmission.csv", index = False)